<div id="mis_pedidos" class="mis-pedidos" style="display: none;">
    <div class="main-container">
        <div id="btn_clientes_volver" class="icon"></div>
        <span class="mis-pedidos">Mis pedidos</span
        ><span class="ordenes-pedidos">Ordenes</span>
        <div id="btn_seguimiento" class="card-pedidos">
          <div class="fernando-andrade-unsplash-pedidos"></div>
          <span class="en-proceso-pedidos">En proceso</span>
          <div class="cupcake-de-fresa-pedidos">
            <span class="text-5-pedidos">Cupcake de </span
            ><span class="text-6-pedidos">Fresa</span>
          </div>
          <span class="text-7-pedidos">$12.50</span>
        </div>
        <div class="section-2-pedidos">
          <div class="img-3-pedidos"></div>
          <span class="text-8-pedidos">Completo</span>
          <div class="box-pedidos">
            <span class="text-9-pedidos">Cupcake de </span
            ><span class="text-a-pedidos">Fresa</span>
          </div>
          <span class="text-b-pedidos">$12.50</span>
        </div>
    </div>
</div>