<div id="seguimiento_pedidos" class="seguimiento_pedidos" style="display: none;">
    <div class="main-container">
        <div id="btn_cerrar_seguimiento" class="icon-comprobante"></div>
       <span class="detalle-orden-1-seguimiento">Detalle de orden</span
       ><span class="productos-seguimiento">Productos</span>
       <div class="card-seguimiento">
         <div class="fernando-andrade-unsplash-seguimiento"></div>
         <div class="flex-column-ee-seguimiento">
           <div class="cupcake-de-fresa-seguimiento">
             <span class="cupcake-de-seguimiento">Cupcake de </span
             ><span class="fresa-seguimiento">Fresa</span>
           </div>
           <span class="dollar-sign-seguimiento">$12.50</span>
         </div>
       </div>
       <div class="card-2-seguimiento">
         <div class="fernando-andrade-unsplash-3-seguimiento"></div>
         <div class="flex-column-seguimiento">
           <div class="cupcake-de-fresa-4-seguimiento">
             <span class="cupcake-seguimiento">Cupcake de </span
             ><span class="fresa-5-seguimiento">Fresa</span>
           </div>
           <span class="dollar-sign-6-seguimiento">$12.50</span>
         </div>
       </div>
       <div class="card-seguimiento-seguimiento">
         <span class="seguimiento-pedido-seguimiento">Seguimiento del pedido</span>
         <span class="pedido-tomado-seguimiento">Pedido tomado</span>
         <div class="arrow-seguimiento"></div>
         <span class="en-proceso-seguimiento">En proceso</span>
         <div class="arrow-7-seguimiento"></div>
         <span class="terminado-seguimiento">Terminado</span>
         <div class="arrow-8-seguimiento"></div>
         <span class="entregado-seguimiento">Entregado</span>
       </div>
       <div class="flex-row-seguimiento">
         <button class="botones-mobile-seguimiento">
           <span class="cancelar-pedido-seguimiento">Cancelar pedido</span></button
         ><button class="botones-mobile-9-seguimiento">
           <span class="comprobante-seguimiento">Comprobante</span>
         </button>
       </div>
     </div>
</div>