:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    --rpx: 100vw / 430;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: calc(430 * var(--rpx));
    height: calc(932 * var(--rpx));
    margin: 0 auto;
    background: #f5f5f5;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  
  .flex-row-fd {
    position: relative;
    width: calc(367 * var(--rpx));
    height: calc(36 * var(--rpx));
    margin: calc(24 * var(--rpx)) 0 0 calc(31 * var(--rpx));
    z-index: 9;
  }
  .usuario {
    position: absolute;
    width: calc(36 * var(--rpx));
    height: calc(36 * var(--rpx));
    top: 0;
    left: calc(331 * var(--rpx));
    background: url(./assets/images/79c817082a12a090d6e46dd2f6976cde11a959c2.png)
      no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .vector {
    position: absolute;
    width: calc(28 * var(--rpx));
    height: calc(34 * var(--rpx));
    top: calc(1 * var(--rpx));
    left: 0;
    background: url(./assets/images/e998defd-8a8f-4669-8437-6d474b14ab36.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
  }
  .mario-ruiz {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: calc(79 * var(--rpx));
    height: calc(20 * var(--rpx));
    top: calc(8 * var(--rpx));
    left: calc(245 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: right;
    white-space: nowrap;
    z-index: 9;
  }
  .ordenes {
    display: block;
    position: relative;
    height: calc(32 * var(--rpx));
    margin: calc(25 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(24 * var(--rpx));
    font-weight: 700;
    line-height: calc(32 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .flex-row-c {
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(44 * var(--rpx));
    margin: calc(26 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 15;
  }
  .botones-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(10 * var(--rpx));
    position: absolute;
    width: calc(115 * var(--rpx));
    height: calc(44 * var(--rpx));
    top: 0;
    left: 0;
    padding: calc(12 * var(--rpx)) calc(20 * var(--rpx)) calc(12 * var(--rpx))
      calc(20 * var(--rpx));
    cursor: pointer;
    background: linear-gradient(90deg, #e70820, #800c1b);
    border: none;
    z-index: 11;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .boton {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .botones-mobile-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(10 * var(--rpx));
    position: absolute;
    width: calc(122 * var(--rpx));
    height: calc(44 * var(--rpx));
    top: 0;
    left: calc(122 * var(--rpx));
    padding: calc(12 * var(--rpx)) calc(20 * var(--rpx)) calc(12 * var(--rpx))
      calc(20 * var(--rpx));
    cursor: pointer;
    background: #717171;
    border: none;
    z-index: 13;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .boton-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .botones-mobile-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(10 * var(--rpx));
    position: absolute;
    width: calc(119 * var(--rpx));
    height: calc(44 * var(--rpx));
    top: 0;
    left: calc(251 * var(--rpx));
    padding: calc(12 * var(--rpx)) calc(20 * var(--rpx)) calc(12 * var(--rpx))
      calc(20 * var(--rpx));
    cursor: pointer;
    background: #717171;
    border: none;
    z-index: 15;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .button {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .card {
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(166 * var(--rpx));
    margin: calc(26 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    background: #ffffff;
    z-index: 22;
    overflow: hidden;
    border-radius: calc(35 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }
  .fernando-andrade-unsplash {
    position: absolute;
    width: calc(78 * var(--rpx));
    height: calc(78 * var(--rpx));
    top: calc(16 * var(--rpx));
    left: calc(16 * var(--rpx));
    background: url(./assets/images/446df836-5f91-4b87-8d12-0b3e4c790ec6.png)
      no-repeat center;
    background-size: cover;
    z-index: 23;
    border-radius: calc(50 * var(--rpx));
  }
  .flex-column-dfe {
    position: absolute;  font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .price-6 {
    flex-shrink: 0;
    position: relative;
    height: calc(24 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .line {
    position: relative;
    width: calc(370.002685546875 * var(--rpx));
    height: calc(2 * var(--rpx));
    margin: calc(15 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    background: url(./assets/images/a20f003e-c6a3-4766-888d-d855cf1ed8b1.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
  }
  .flex-row-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(28 * var(--rpx));
    margin: calc(16 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 13;
  }
  .total {
    flex-shrink: 0;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .dollar {
    flex-shrink: 0;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }
  .flex-row-e {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(158.00001525878906 * var(--rpx));
    margin: calc(26 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 29;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(14 * var(--rpx));
    position: relative;
    width: calc(176 * var(--rpx));
    padding: calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx))
      calc(16 * var(--rpx));
    background: #ffffff;
    z-index: 23;
    overflow: hidden;
    border-radius: calc(15 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }
  .efectivo {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }
  .line-7 {
    flex-shrink: 0;
    position: relative;
    width: calc(144 * var(--rpx));
    height: calc(1 * var(--rpx));
    background: url(./assets/images/40f3d688-577f-4995-b56a-592538a0d2b3.png)
      no-repeat center;
    background-size: cover;
    z-index: 25;
  }
  .dollar-8 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(144 * var(--rpx));
    padding: calc(8 * var(--rpx)) calc(17 * var(--rpx)) calc(8 * var(--rpx))
      calc(17 * var(--rpx));
    cursor: pointer;
    background: linear-gradient(90deg, #e70820, #800c1b);
    border: none;
    z-index: 27;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .button-text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(14 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .payment-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(14 * var(--rpx));
    position: relative;
    width: calc(176 * var(--rpx));
    padding: calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx))
      calc(16 * var(--rpx));
    background: #ffffff;
    z-index: 29;
    overflow: hidden;
    border-radius: calc(15 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }
  .cash-paypal {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .line-9 {
    flex-shrink: 0;
    position: relative;
    width: calc(144 * var(--rpx));
    height: calc(1 * var(--rpx));
    background: url(./assets/images/214165cf-0b7b-438d-8d14-cad81e8c2f4b.png)
      no-repeat center;
    background-size: cover;
    z-index: 31;
  }
  .dollar-amount {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .mobile-button-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(144 * var(--rpx));
    padding: calc(8 * var(--rpx)) calc(17 * var(--rpx)) calc(8 * var(--rpx))
      calc(17 * var(--rpx));
    cursor: pointer;
    background: linear-gradient(90deg, #e70820, #800c1b);
    border: none;
    z-index: 33;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }
  .button-text-b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(14 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }