  .metodos-de-pago {
    display: block;
    position: relative;
    height: calc(32 * var(--rpx));
    margin: calc(25.4384765625 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(24 * var(--rpx));
    font-weight: 700;
    line-height: calc(32 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }

  .productos-pagos {
    display: block;
    position: relative;
    height: calc(24 * var(--rpx));
    margin: calc(16 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }

  .card-pagos {
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(110 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    background: #ffffff;
    z-index: 15;
    overflow: hidden;
    border-radius: calc(35 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }

  .fernando-andrade-unsplash-pagos {
    position: absolute;
    width: calc(78 * var(--rpx));
    height: calc(78 * var(--rpx));
    top: calc(16 * var(--rpx));
    left: calc(16 * var(--rpx));
    background-size: cover;
    z-index: 16;
  }

  .flex-column-db-pagos {
    position: absolute;
    width: calc(147 * var(--rpx));
    height: calc(62 * var(--rpx));
    top: calc(24 * var(--rpx));
    left: calc(113 * var(--rpx));
    z-index: 18;
  }

  .cupcake-de-fresa-pagos {
    position: relative;
    width: calc(147 * var(--rpx));
    height: calc(24 * var(--rpx));
    margin: 0 0 0 0;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 17;
  }

  .cupcake-pagos {
    position: relative;
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
  }

  .fresa-pagos {
    position: relative;
    color: #e70820;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
  }

  .price-pagos {
    display: block;
    position: relative;
    height: calc(28 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 0;
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }

  .card-1-pagos {
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(110 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    background: #ffffff;
    z-index: 19;
    overflow: hidden;
    border-radius: calc(35 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }

  .fernando-andrade-unsplash-2-pagos {
    position: absolute;
    width: calc(78 * var(--rpx));
    height: calc(78 * var(--rpx));
    top: calc(16 * var(--rpx));
    left: calc(16 * var(--rpx));
    background: url(../images/fotos/Hamburguesa.png) no-repeat center;
    background-size: cover;
    z-index: 20;
  }

  .flex-column-pagos {
    position: absolute;
    width: calc(147 * var(--rpx));
    height: calc(62 * var(--rpx));
    top: calc(24 * var(--rpx));
    left: calc(113 * var(--rpx));
    z-index: 22;
  }

  .cupcake-de-fresa-3-pagos {
    position: relative;
    width: calc(147 * var(--rpx));
    height: calc(24 * var(--rpx));
    margin: 0 0 0 0;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 21;
  }

  .cupcake-de-pagos {
    position: relative;
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
  }

  .fresa-4-pagos {
    position: relative;
    color: #e70820;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
  }

  .price-5-pagos {
    display: block;
    position: relative;
    height: calc(28 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 0;
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }

  .flex-row-ece-pagos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(24 * var(--rpx));
    margin: calc(16 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 12;
  }

  .subtotal-pagos {
    flex-shrink: 0;
    position: relative;
    height: calc(24 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }

  .price-6-pagos {
    flex-shrink: 0;
    position: relative;
    height: calc(24 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(24 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }

  .line-pagos {
    position: relative;
    width: calc(370.002685546875 * var(--rpx));
    height: calc(2 * var(--rpx));
    margin: calc(15 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    background: url(../images/icons/Line\ 16.png) no-repeat center;
    background-size: cover;
    z-index: 14;
  }

  .flex-row-f-pagos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(28 * var(--rpx));
    margin: calc(16 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 13;
  }

  .total-pagos {
    flex-shrink: 0;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }

  .dollar-pagos {
    flex-shrink: 0;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }

  .flex-row-e-pagos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(370 * var(--rpx));
    height: calc(158.00001525878906 * var(--rpx));
    margin: calc(26 * var(--rpx)) 0 0 calc(30 * var(--rpx));
    z-index: 29;
  }

  .frame-pagos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(14 * var(--rpx));
    position: relative;
    width: calc(176 * var(--rpx));
    padding: calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx));
    background: #ffffff;
    z-index: 23;
    overflow: hidden;
    border-radius: calc(15 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }

  .efectivo-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }

  .line-7-pagos {
    flex-shrink: 0;
    position: relative;
    width: calc(144 * var(--rpx));
    height: calc(1 * var(--rpx));
    background: url(../images/icons/Line\ 28.png) no-repeat center;
    background-size: cover;
    z-index: 25;
  }

  .dollar-8-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }

  .mobile-button-pagos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(144 * var(--rpx));
    padding: calc(8 * var(--rpx)) calc(17 * var(--rpx)) calc(8 * var(--rpx)) calc(17 * var(--rpx));
    cursor: pointer;
    background: linear-gradient(90deg, #e70820, #800c1b);
    border: none;
    z-index: 27;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }

  .button-text-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(14 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }

  .payment-card-pagos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(14 * var(--rpx));
    position: relative;
    width: calc(176 * var(--rpx));
    padding: calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx)) calc(16 * var(--rpx));
    background: #ffffff;
    z-index: 29;
    overflow: hidden;
    border-radius: calc(15 * var(--rpx));
    box-shadow: 0 calc(4 * var(--rpx)) calc(4 * var(--rpx)) 0 rgba(0, 0, 0, 0.1);
  }

  .cash-paypal-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }

  .line-9-pagos {
    flex-shrink: 0;
    position: relative;
    width: calc(144 * var(--rpx));
    height: calc(1 * var(--rpx));
    background: url(../images/icons/Line\ 28.png) no-repeat center;
    background-size: cover;
    z-index: 31;
  }

  .dollar-amount-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(28 * var(--rpx));
    color: #252525;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(28 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }

  .mobile-button-a-pagos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(144 * var(--rpx));
    padding: calc(8 * var(--rpx)) calc(17 * var(--rpx)) calc(8 * var(--rpx)) calc(17 * var(--rpx));
    cursor: pointer;
    background: linear-gradient(90deg, #e70820, #800c1b);
    border: none;
    z-index: 33;
    overflow: hidden;
    border-radius: calc(50 * var(--rpx));
  }

  .button-text-b-pagos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: calc(20 * var(--rpx));
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: calc(14 * var(--rpx));
    font-weight: 700;
    line-height: calc(20 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }