
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

body {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 45vh;
    max-width: 1200px;
    text-align: center;
}

main {
    height: 26vh;
    margin-bottom: 10%;
}

/* home view styles */

.separador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.line {
    width: 38%;
    height: 1px;
    background-color: #9E090F;
    border: solid 1px;
    border-color: #9E090F;
    border-radius: 18%;    
}

.btn-primary {
    background: linear-gradient(90deg, #E70820 0%, #800C1B 100%);
    border-radius: 50px;
    margin-left: 2%;
    height: 50px;
    min-width: 30%;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-group input {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    max-width: 500px;
}

footer {
    height: 20vh;
    text-align: center;
    padding: 40px 0;
}

.abrir-cuenta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abrir-cuenta p{
    margin: 0 5px;
}

.nueva-cuenta {
    color: rgba(231, 8, 32, 1);
}




