<div id="carrito_vista" class="carrito-vista" style="display: none;">
    <div class="main-container">
      <div class="icon"></div>
      <span class="mi-carrito">Mi Carrito</span
      ><span class="reservar-mesa">¿Desea reservar una mesa?</span>
      <div class="reserva">
        <div class="toggle-switch"><div class="ellipse"></div></div>
        <div class="flex-column-efb">
          <span class="reservar-mesa-1">Reservar mesa</span
          ><span class="para-cuantas-personas">¿Para cuantas personas?</span>
          <div class="aumentar-cantidad">
            <div class="boton-menos">
              <div class="icono-menos"><div class="icon-2"></div></div>
            </div>
            <span class="numero-1">1</span>
            <div class="boton-mas">
              <div class="icono-mas"><div class="icon-3"></div></div>
            </div>
          </div>
        </div>
      </div>
      <span class="productos">Productos</span>
      <div class="card">
        <div class="icono-cerrar"><div class="icon-4"></div></div>
        <div class="flex-column-b">
          <div class="cupcake-de-fresa">
            <span class="cupcake">Cupcake de </span
            ><span class="fresa">Fresa</span>
          </div>
          <span class="price">$12.50</span>
          <div class="increase-quantity">
            <div class="button-minus">
              <div class="icon-minus"><div class="icon-5"></div></div>
            </div>
            <span class="quantity">1</span>
            <div class="button-plus">
              <div class="icon-plus"><div class="icon-6"></div></div>
            </div>
          </div>
        </div>
        <div class="fernando-andrade-ptrhtwde-unsplash"></div>
      </div>
      <div class="card-7">
        <div class="icono-cerrar-8"><div class="icon-9"></div></div>
        <div class="flex-column-a">
          <div class="cupcake-de-fresa-a">
            <span class="cupcake-de">Cupcake de </span
            ><span class="fresa-b">Fresa</span>
          </div>
          <span class="price-c">$12.50</span>
          <div class="aumentar-cantidad-d">
            <div class="boton-menos-e">
              <div class="icono-menos-f"><div class="icon-10"></div></div>
            </div>
            <span class="quantity-11">1</span>
            <div class="boton-mas-12">
              <div class="icono-mas-13"><div class="icon-14"></div></div>
            </div>
          </div>
        </div>
        <div class="fernando-andrade-unsplash"></div>
      </div>
      <div class="flex-row-dca">
        <span class="subtotal">Subtotal</span
        ><span class="subtotal-price">$25.00</span>
      </div>
      <div class="line"></div>
      <div class="flex-row">
        <span class="total">Total</span><span class="total-price">$25.00</span>
      </div>
      <button class="botones-mobile"><span class="boton">Comprar</span></button>
    </div>
</div>
