<div id="carrito_vista" class="carrito-vista" style="display: none;">
  <div class="main-container">
    <div id="btn_flecha" class="icon"></div>
    <span class="mi-carrito">Mi Carrito</span><span class="reservar-mesa">¿Desea reservar una mesa?</span>
    <div class="reserva">
      <div class="toggle-switch">
        <input type="checkbox" id="btn-switch">
        <label for="btn-switch" class="lbl-switch"></label>
      </div>
      <div class="flex-column-efb">
        <span class="reservar-mesa-1">Reservar mesa</span><span id="reservaMesaContainer2"
          class="para-cuantas-personas oculto">¿Para cuantas
          personas?</span>
        <div class="aumentar-cantidad oculto" id="reservaMesaContainer">
          <div class="boton-menos">
            <div class="icono-menos">
              <div class="icon-2"></div>
            </div>
          </div>
          <span class="numero-1">1</span>
          <div class="boton-mas">
            <div class="icono-mas">
              <div class="icon-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="productos">Productos</span>
    <div id="cards-carrito"></div>
    <div class="flex-row-dca">
      <span class="subtotal">Subtotal</span><span class="subtotal-price">$0.00</span>
    </div>
    <div class="line"></div>
    <div class="flex-row">
      <span class="total">Total</span><span class="total-price">$0.00</span>
    </div>
    <button id="btn_comprar" class="botones-mobile"><span class="boton">Comprar</span></button>
  </div>
</div>