<div id="comprobantes" class="comprobantes" style="display: none;">
  <div class="main-container">

    <div id="btn_cerrar_compra" class="icon-comprobante"></div>
    <span class="comprobante">Comprobante</span><button class="card-comprobante"><span
        class="code-number-comprobante"></span></button><span class="code-instructions-comprobante">Presenta este código
      para poder pagar tu pedido.</span>
    <div class="flex-row-comprobante">
      <span class="subtotal-text-comprobante">Subtotal</span><span class="subtotal-amount-comprobante"></span>
    </div>
    <div class="line-comprobante"></div>
    <div class="flex-row-ff-comprobante">
      <span class="total-comprobante">Total</span><span class="dollar-comprobante"></span>
    </div>
    <button class="mobile-buttons-comprobante">
      <span class="ir-al-inicio-comprobante">Ir al inicio</span></button><button class="botones-mobile-comprobante">
      <span class="ver-seguimiento-pedido-comprobante">Ver seguimiento del pedido</span>
    </button>
  </div>
</div>
</div>