<div id="detalle_pedido" class="detalle-pedido" style="display: none;">
  <div class="main-container">
    <div class="flex-row-c-detalle">
      <div class="icono-corazon-detalle"></div>
      <div id="cerra-detalle" class="icon"></div>
      <span class="postre-detalle"></span>
    </div>
    <div class="fernando-andrade-unsplash-detalle">
      <div class="ellipse-detalle"></div>
    </div>
    <div class="cupcake-de-fresa-detalle">
      <span class="text-3-detalle"></span>
    </div>
    <div class="box-detalle">
      <div class="group-2-detalle">
        <span class="text-5-detalle">Tiempo estimado</span>
        <div class="wrapper-2-detalle">
          <div class="group-3-detalle">
            <div class="icon-1-detalle"></div>
          </div>
          <span class="mins-detalle"></span>
        </div>
      </div>
      <div class="precio-detalle">
        <span class="precio-2-detalle">Precio</span><span class="price-detalle"></span>
      </div>
    </div>
    <span class="description-detalle">Descripción</span><span class="delicious-dessert-detalle"></span><button
      class="mobile-button-detalle">
      <span class="add-to-cart-button-detalle">Agregar al carrito</span></button><button
      class="mobile-button-3-detalle">
      <span class="buy-button-detalle">Comprar</span>
    </button>
  </div>
</div>