<div id="metodos_pago" class="metodos-pago" style="display: none;">
    <div class="main-container">
        <div id="btn_volver_carrito" class="icon"></div>
        <span class="metodos-de-pago">Métodos de pago</span
        ><span class="productos-pagos">Productos</span>
        <div class="card-pagos">
          <div class="fernando-andrade-unsplash-pagos"></div>
          <div class="flex-column-db-pagos">
            <div class="cupcake-de-fresa-pagos">
              <span class="cupcake-pagos">Cupcake de </span
              ><span class="fresa-pagos">Fresa</span>
            </div>
            <span class="price-pagos">$12.50</span>
          </div>
        </div>
        <div class="card-1-pagos">
          <div class="fernando-andrade-unsplash-2-pagos"></div>
          <div class="flex-column-pagos">
            <div class="cupcake-de-fresa-3-pagos">
              <span class="cupcake-de-pagos">Cupcake de </span
              ><span class="fresa-4-pagos">Fresa</span>
            </div>
            <span class="price-5-pagos">$12.50</span>
          </div>
        </div>
        <div class="flex-row-ece-pagos">
          <span class="subtotal-pagos">Subtotal</span
          ><span class="price-6-pagos">$25.00</span>
        </div>
        <div class="line-pagos"></div>
        <div class="flex-row-f-pagos">
          <span class="total-pagos">Total</span><span class="dollar">$25.00</span>
        </div>
        <div class="flex-row-e-pagos">
          <div class="frame-pagos">
            <span class="efectivo-pagos">Efectivo</span>
            <div class="line-7-pagos"></div>
            <span class="dollar-8-pagos">$25.00</span
            ><button class="mobile-button-pagos">
              <span class="button-text-pagos">Pagar</span>
            </button>
          </div>
          <div class="payment-card-pagos">
            <span class="cash-paypal-pagos">Paypal</span>
            <div class="line-9-pagos"></div>
            <span class="dollar-amount-pagos">$25.00</span
            ><button class="mobile-button-a-pagos">
              <span class="button-text-b-pagos">Pagar</span>
            </button>
          </div>
        </div>
    </div>
</div>