<div id="seguimiento_pedidos" class="seguimiento_pedidos" style="display: none;">
  <div class="main-container">
    <div id="btn_cerrar_seguimiento" class="icon-comprobante"></div>
    <span class="detalle-orden-1-seguimiento">Detalle de orden</span><span
      class="productos-seguimiento">Productos</span>

    <div id="contenedor-seguimiento"></div>

    <div class="card-seguimiento-seguimiento">
      <span class="seguimiento-pedido-seguimiento">Seguimiento del pedido</span>
      <div class="timeline">
        <div class="card-seguimiento-prueba">
          <span class="pedido estado-1">Pedido tomado</span>
          <span class="pedido estado-2">En proceso</span>
          <span class="pedido estado-3">Terminado</span>
          <span class="pedido estado-4">Entregado</span>
        </div>
      </div>
    </div>


    <div class="flex-row-seguimiento">
      <button class="botones-mobile-seguimiento">
        <span class="cancelar-pedido-seguimiento">Cancelar pedido</span></button><button
        class="botones-mobile-9-seguimiento">
        <span class="comprobante-seguimiento">Comprobante</span>
      </button>
    </div>
  </div>
</div>