<div id="seguimiento_pedidos" class="seguimiento_pedidos" style="display: none;">
  <div class="main-container">
    <div id="btn_cerrar_seguimiento" class="icon-comprobante"></div>
    <span class="detalle-orden-1-seguimiento">Detalle de orden</span><span
      class="productos-seguimiento">Productos</span>

    <div id="contenedor-seguimiento"></div>

    <div class="card-seguimiento-seguimiento"></div>


    <div class="flex-row-seguimiento">
      <button class="botones-mobile-seguimiento">
        <span class="cancelar-pedido-seguimiento">Cancelar pedido</span></button><button
        class="botones-mobile-9-seguimiento">
        <span class="comprobante-seguimiento">Comprobante</span>
      </button>
    </div>
  </div>
</div>