<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:head th:replace="./fragments/head.html :: head"></th:head>
<body>
  <div id="vista" class="vista administrador">
    <th:header th:replace="fragments/header.html :: header"></th:header>

    <div class="buscador">
      <form class="d-flex align-items-center" role="search">
        <button class="btn btn-inline-success" type="submit"><i class="bi bi-search"></i></button>
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </div>

    <div class="navbar btn-group">
      <button id="btnTodos" class="btn btn-primary">Todos</button>
      <button id="btnChef" class="btn"><img src="/images/chef.png" alt=""></button>
      <button id="btnMesero" class="btn"><img src="/images/Mesero.png" alt=""></button>
      <button id="btnCliente" class="btn"><img src="/images/Usuarios.png" alt=""></button>
      <button id="btn_nuevo_rol" class="btn"><img src="/images/Nuevo usuario.png" alt=""></button>
    </div>

    <div id="contenedor-tarjetas"></div>

    <script>
      const btnNuevousuario = document.querySelector('#btn_nuevo_rol');
      btnNuevousuario.addEventListener('click', function () {
        const ocultarRow1 = document.querySelector('.vista');
        ocultarRow1.style.display = 'none';
        const mostrarNuevorol = document.querySelector('.registro-roles');
        mostrarNuevorol.style.display = 'block';
        const ocultarMenu4 = document.querySelector('.menu');
        ocultarMenu4.style.display = 'none';
      });

      const urlListarClientes = '/cliente/listar';
      const urlListarMeseros = '/mesero/listar';
      const urlListarJefesCocina = '/jefe_cocina/listar';

      const token = localStorage.getItem('token');

      const headers = {
        'Authorization': `Bearer ${token}`,
        'Content-Type': 'application/json'
      };

      function listar(url) {
        fetch(url, {
          method: 'GET',
          headers: headers
        })
          .then(response => response.json())
          .then(data => {
            data.forEach(usuario => {
              const mainContainer = document.createElement('div');
              mainContainer.classList.add('main-container');

              const flexRow = document.createElement('div');
              flexRow.classList.add('flex-row-e');

              const fernandoAndrade = document.createElement('div');
              fernandoAndrade.classList.add('fernando-andrade-unsplash');
              if (usuario.foto == null) {
                fernandoAndrade.style.backgroundImage = `url('/images/userdefult/perfiluser.png')`;
              } else {
                fernandoAndrade.style.backgroundImage = `url('${usuario.foto.url}')`;
              }

              const iconArrow = document.createElement('div');
              iconArrow.classList.add('icon-arrow');

              const marioRuiz = document.createElement('span');
              marioRuiz.classList.add('mario-ruiz');
              marioRuiz.textContent = usuario.nombre;

              const chef = document.createElement('span');
              chef.classList.add('chef');
              chef.textContent = usuario.rol;

              flexRow.appendChild(fernandoAndrade);
              flexRow.appendChild(iconArrow);
              flexRow.appendChild(marioRuiz);
              flexRow.appendChild(chef);

              const hiddenContent = document.createElement('div');
              hiddenContent.classList.add('hidden-content');

              const line = document.createElement('div');
              line.classList.add('line');

              const flexRowEcc = document.createElement('div');
              flexRowEcc.classList.add('flex-row-ecc');

              const correoElectronico = document.createElement('span');
              correoElectronico.classList.add('correo-electronico');
              correoElectronico.textContent = 'Correo electrónico';

              const iconoEditar = document.createElement('div');
              iconoEditar.classList.add('icono-editar');

              flexRowEcc.appendChild(correoElectronico);
              flexRowEcc.appendChild(iconoEditar);

              const userEmail = document.createElement('span');
              userEmail.classList.add('user-email');
              userEmail.textContent = usuario.email;

              const password = document.createElement('span');
              password.classList.add('password');
              password.textContent = 'Contraseña';

              const hiddenText = document.createElement('span');
              hiddenText.classList.add('hidden-text');
              hiddenText.textContent = '**********';

              const mobileButtons = document.createElement('button');
              mobileButtons.classList.add('mobile-buttons');

              const deleteAccount = document.createElement('span');
              deleteAccount.classList.add('delete-account');
              deleteAccount.textContent = 'Eliminar cuenta';
              mobileButtons.dataset.userId = usuario.id;
              mobileButtons.dataset.userRol = usuario.rol;
              deleteAccount.dataset.userId = usuario.id;
              deleteAccount.dataset.userRol = usuario.rol;

              mobileButtons.appendChild(deleteAccount);

              hiddenContent.appendChild(line);
              hiddenContent.appendChild(flexRowEcc);
              hiddenContent.appendChild(userEmail);
              hiddenContent.appendChild(password);
              hiddenContent.appendChild(hiddenText);
              hiddenContent.appendChild(mobileButtons);

              mainContainer.appendChild(flexRow);
              mainContainer.appendChild(hiddenContent);

              document.getElementById('contenedor-tarjetas').appendChild(mainContainer);
            });
          })
          .catch(error => {
            console.error('Error al obtener la lista de usuarios:', error);
          });
      }

      document.addEventListener('DOMContentLoaded', function () {
        listar(urlListarClientes);
        listar(urlListarJefesCocina);
        listar(urlListarMeseros);
      });

      btnChef.addEventListener("click", function () {
        var contenedorTarjetas = document.getElementById('contenedor-tarjetas');
        contenedorTarjetas.innerHTML = '';
        listar(urlListarJefesCocina);
      });
      btnCliente.addEventListener("click", function () {
        var contenedorTarjetas = document.getElementById('contenedor-tarjetas');
        contenedorTarjetas.innerHTML = '';
        listar(urlListarClientes);
      });
      btnMesero.addEventListener("click", function () {
        var contenedorTarjetas = document.getElementById('contenedor-tarjetas');
        contenedorTarjetas.innerHTML = '';
        listar(urlListarMeseros);
      });
      btnTodos.addEventListener("click", function () {
        var contenedorTarjetas = document.getElementById('contenedor-tarjetas');
        contenedorTarjetas.innerHTML = '';
        listar(urlListarClientes);
        listar(urlListarJefesCocina);
        listar(urlListarMeseros);
      });

      document.addEventListener('DOMContentLoaded', function () {
        const contenedorTarjetas = document.getElementById('contenedor-tarjetas');

        contenedorTarjetas.addEventListener('click', function (event) {
          const icono = event.target.closest('.icon-arrow');
          if (icono) {
            const contenidoOculto = icono.parentElement.nextElementSibling;
            contenidoOculto.classList.toggle('visible');

            const mainContainer = icono.closest('.main-container');
            if (contenidoOculto.classList.contains('visible')) {
              mainContainer.style.height = '318px';
            } else {
              mainContainer.style.height = '110px';
            }
          }
        });
      });

      document.addEventListener('click', function (event) {
        if (event.target.classList.contains('mobile-buttons') || event.target.classList.contains('delete-account')) {
          const clickedButton = event.target;

          const userId = clickedButton.dataset.userId;
          const userRol = clickedButton.dataset.userRol;

          const urlBorrarCliente = '/cliente/borrar';
          const urlBorrarMesero = '/mesero/borrar';
          const urlBorrarJefeCocina = '/jefe_cocina/borrar';

          if (userRol == 'CLIENTE') {
            borrar(urlBorrarCliente, userId);
          } else if (userRol == 'JEFE_COCINA') {
            borrar(urlBorrarJefeCocina, userId);
          } else if (userRol == 'MESERO') {
            borrar(urlBorrarMesero, userId);
          }
        }
      });

      function borrar(url, userId) {
        fetch(url, {
          method: 'POST',
          headers: headers,
          body: JSON.stringify(userId)
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Error en la solicitud de eliminación');
            }
            return response.text();
          })
          .then(data => {
            console.log(data);
          })
          .catch(error => {
            console.error('Error al enviar la solicitud de eliminación:', error);
          });
      }

    </script>


  </div>

  <script>
    const btnNuevousuario = document.querySelector('#btn_nuevo_rol');
        btnNuevousuario.addEventListener('click', function(){
            const ocultarRow1 = document.querySelector('.vista');
            ocultarRow1.style.display = 'none';
            const mostrarNuevorol = document.querySelector('.registro-roles');
            mostrarNuevorol.style.display = 'block';
            const ocultarMenu4 = document.querySelector('.menu');
            ocultarMenu4.style.display = 'none';
        });
  </script>

  
  </div>
  <th:div th:replace="components/registroplatillos.html :: div"></th:div>

  <th:div th:replace="components/platillosadmin.html :: div"></th:div>

  <th:div th:replace="Auth/registroEmpleado.html :: div"></th:div>
  <th:div th:replace="components/registroplatillos.html :: div"></th:div>

  <th:div th:replace="components/platillosadmin.html :: div"></th:div>

  <th:div th:replace="Auth/registroEmpleado.html :: div"></th:div>

  <th:div th:replace="fragments/perfilUsuario.html :: div"></th:div>

  <th:div th:replace="fragments/menuFlotante-admin.html :: div"></th:div>

  <th:div th:replace="fragments/editarPerfil.html :: div"></th:div>

  <th:div th:replace="fragments/cambiarcontraseña.html :: div"></th:div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>