<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grill House</title>
</head>

<body>
    <h1>cliente</h1>
    <h2>Upload Image</h2>
    <form action="/foto/upload/usuario" method="post" enctype="multipart/form-data">
        <label for="file">Seleccionar imagen:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Enviar">
    </form>

    <h2>Update Image</h2>
    <form action="/foto/update/usuario" method="post" enctype="multipart/form-data">
        <label for="file">Seleccionar imagen:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>