<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grill House</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" />
    <link rel="stylesheet" href="cliente.css" />
</head>

<body>
    <div class="main-container">
        <div class="flex-row-ff">
          <div class="regroup">
            <span class="jessica">Jessica</span>
            <div class="usuario"></div>
          </div>
          <div class="vector"></div>
        </div>
        <div class="inicio-overflow">
          <div class="elige-tu-comida">
            <span class="elige-tu-comida-1">Elige <br />Tu Comida </span
            ><span class="favorita">Favorita</span>
          </div>
          <div class="input-buscar">
            <span class="buscar">Buscar</span>
            <div class="icono-buscar"></div>
          </div>
          <div class="flex-row-ba">
            <div class="boton-todos"><button class="todos">Todos</button></div>
            <div class="boton-hamburguesa"><div class="burguer"></div></div>
            <div class="boton-postre"><div class="cupcake"></div></div>
            <div class="boton-bebida"><div class="bebida"></div></div>
            <div class="boton-favoritos"><div class="corazon"></div></div>
          </div>
          <div class="flex-row-a">
            <span class="comidas-populares">Comidas populares</span>
            <div class="boton-ver-todo"><span class="boton">Ver todo</span></div>
          </div>
          <div class="comidas-populares-2">
            <div class="carta-de-plato">
              <div class="hamburguesa-clasica">
                <span class="hamburguesa">Hamburguesa </span
                ><span class="clasica">Clásica</span>
              </div>
              <span class="hamburguesa-3">Hamburguesa</span>
              <div class="icono-corazon"></div>
              <div class="hamburguesa-4"></div>
              <div class="icono-carrito"><div class="icon"></div></div>
              <span class="precio">$12.50</span>
            </div>
            <div class="carta-plato">
              <div class="hamburguesa-clasica-5">
                <span class="cupcake-fresa">Cupcake de </span
                ><span class="fresa">Fresa</span>
              </div>
              <span class="postre">Postre</span>
              <div class="icono-corazon-6"></div>
              <div class="cupcake-7"></div>
              <div class="icono-carrito-8"><div class="icon-9"></div></div>
              <span class="precio-a">$12.50</span>
            </div>
            <div class="carta-plato-b">
              <div class="hamburguesa-clasica-c">
                <span class="coca-cola-clasica">Coca Cola </span
                ><span class="clasica-d">Clásica</span>
              </div>
              <span class="bebida-e">Bebida</span>
              <div class="icono-corazon-f"></div>
              <div class="bebida-10"></div>
              <div class="icono-carrito-11"><div class="icon-12"></div></div>
              <span class="precio-13">$12.50</span>
            </div>
          </div>
          <div class="flex-row-e">
            <span class="hamburguesas">Hamburguesas</span>
            <div class="boton-14"><span class="ver-todo">Ver todo</span></div>
          </div>
          <div class="flex-row-d">
            <div class="barra-navegacion-cliente">
              <div class="icono-carrito-navbar"><div class="icon-15"></div></div>
              <div class="icono-fuego"><div class="icon-16"></div></div>
              <div class="icono-usuario"><div class="icon-17"></div></div>
              <div class="icono-compra"><div class="icon-18"></div></div>
            </div>
            <div class="hamburguesas-19">
              <div class="carta-de-plato-1a">
                <div class="hamburguesa-clasica-1b">
                  <span class="hamburguesa-1c">Hamburguesa </span
                  ><span class="clasica-1d">Clásica</span>
                </div>
                <span class="hamburguesa-1e">Hamburguesa</span>
                <div class="icono-corazon-1f"></div>
                <div class="hamburguesa-20"></div>
                <div class="icono-carrito-21"><div class="icon-22"></div></div>
                <span class="price">$12.50</span>
              </div>
              <div class="carta-de-plato-23">
                <div class="hamburguesa-clasica-24">
                  <span class="hamburguesa-25">Hamburguesa </span
                  ><span class="clasica-26">Clásica</span>
                </div>
                <span class="hamburguesa-27">Hamburguesa</span>
                <div class="icono-corazon-28"></div>
                <div class="hamburguesa-29"></div>
                <div class="icono-carrito-2a"><div class="icon-2b"></div></div>
                <span class="price-2c">$12.50</span>
              </div>
              <div class="carta-de-plato-2d">
                <div class="hamburguesa-clasica-2e">
                  <span class="hamburguesa-2f">Hamburguesa </span
                  ><span class="clasica-30">Clásica</span>
                </div>
                <span class="hamburguesa-31">Hamburguesa</span>
                <div class="icono-corazon-32"></div>
                <div class="hamburguesa-33"></div>
                <div class="icono-carrito-34"><div class="icon-35"></div></div>
                <span class="dollar">$12.50</span>
              </div>
            </div>
          </div>
          <div class="flex-row-a-36">
            <span class="postres">Postres</span>
            <div class="boton-37"><span class="ver-todo-38">Ver todo</span></div>
          </div>
          <div class="postre-39">
            <div class="carta-de-plato-3a">
              <div class="hamburguesa-clasica-3b">
                <span class="cupcake-de">Cupcake de </span
                ><span class="fresa-3c">Fresa</span>
              </div>
              <span class="postre-3d">Postre</span>
              <div class="icono-corazon-3e"></div>
              <div class="cupcake-3f"></div>
              <div class="icono-carrito-40"><div class="icon-41"></div></div>
              <span class="dollar-42">$12.50</span>
            </div>
            <div class="carta-de-plato-43">
              <div class="hamburguesa-clasica-44">
                <span class="cupcake-de-45">Cupcake de </span
                ><span class="fresa-46">Fresa</span>
              </div>
              <span class="postre-47">Postre</span>
              <div class="icono-corazon-48"></div>
              <div class="cupcake-49"></div>
              <div class="icono-carrito-4a"><div class="icon-4b"></div></div>
              <span class="dollar-4c">$12.50</span>
            </div>
            <div class="carta-de-plato-4d">
              <div class="hamburguesa-clasica-4e">
                <span class="cupcake-de-4f">Cupcake de </span
                ><span class="fresa-50">Fresa</span>
              </div>
              <span class="postre-51">Postre</span>
              <div class="icono-corazon-52"></div>
              <div class="cupcake-53"></div>
              <div class="icono-carrito-54"><div class="icon-55"></div></div>
              <span class="price-56">$12.50</span>
            </div>
          </div>
          <div class="flex-row">
            <span class="title">Bebidas</span>
            <div class="button">
              <span class="button-view-all">Ver todo</span>
            </div>
          </div>
          <div class="drinks">
            <div class="dish-menu">
              <div class="classic-burger">
                <span class="drink-coca-cola">Coca Cola </span
                ><span class="classic">Clásica</span>
              </div>
              <span class="drink">Refresco</span>
              <div class="heart-icon"></div>
              <div class="beverage"></div>
              <div class="cart-icon"><div class="icon-57"></div></div>
              <span class="price-58">$12.50</span>
            </div>
            <div class="dish-menu-59">
              <div class="classic-burger-5a">
                <span class="drink-coca-cola-5b">Coca Cola </span
                ><span class="classic-5c">Clásica</span>
              </div>
              <span class="drink-5d">Refresco</span>
              <div class="heart-icon-5e"></div>
              <div class="beverage-5f"></div>
              <div class="cart-icon-60"><div class="icon-61"></div></div>
              <span class="price-62">$12.50</span>
            </div>
            <div class="dish-menu-63">
              <div class="classic-burger-64">
                <span class="drink-coca-cola-65">Coca Cola </span
                ><span class="classic-66">Clásica</span>
              </div>
              <span class="drink-67">Refresco</span>
              <div class="heart-icon-68"></div>
              <div class="beverage-69"></div>
              <div class="cart-icon-6a"><div class="icon-6b"></div></div>
              <span class="price-6c">$12.50</span>
            </div>
          </div>
        </div>
      </div>
</body>

</html>