<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grill House</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" />
  <link rel="stylesheet" th:href="|/css/cliente.css|" />
  <link rel="stylesheet" th:href="|/css/carrito.css|" />
  <link rel="stylesheet" th:href="|/css/metodosPagos.css|" />
  <link rel="stylesheet" th:href="|/css/comprobantes.css|" />
  <link rel="stylesheet" th:href="|/css/misPedidos.css|" />
  <link rel="stylesheet" th:href="|/css/seguimiento.css|" />
  <link rel="stylesheet" th:href="|/css/detallePedido.css|" />
  <link rel="stylesheet" th:href="|/css/perfil.css|" />
  <link rel="icon" href="/images/favicon/favicon.png" type="image/png" />
  
</head>

<body>
  <div id="loading-overlay" class="loading-overlay">
    <div class="spinner"></div>
  </div>
  <div id="cliente_vista" class="vista">
    <th:header th:replace="fragments/header.html :: header"></th:header>

    <div id="main-container" class="main-container">
      <div class="inicio-overflow">
        <div class="elige-tu-comida">
          <span class="elige-tu-comida-1">Elige <br />Tu Comida </span><span class="favorita">Favorita</span>
        </div>
        <div class="input-buscar">
          <span class="buscar">Buscar</span>
          <div class="icono-buscar"></div>
        </div>
        <div class="flex-row-ba">
          <div id="btn-todos" class="boton-todos"><button class="todos">Todos</button></div>
          <div id="btn-comida" class="boton-hamburguesa">
            <div class="burguer"></div>
          </div>
          <div id="btn-postre" class="boton-postre">
            <div class="cupcake"></div>
          </div>
          <div id="btn-bebida" class="boton-bebida">
            <div class="bebida"></div>
          </div>
          <div id="btn-favoritos" class="boton-favoritos">
            <div class="corazon"></div>
          </div>
        </div>

        <div class="barra-navegacion-cliente">
          <div id="btn_carrito" class="icono-carrito-navbar">
            <div class="icon-16"></div>
            <span class="cantidad-carrito">0</span>
          </div>
          <div class="icono-fuego">
            <div class="icon-17"></div>
          </div>
          <div class="icono-usuario">
            <div class="icon-18"></div>
          </div>
          <div id="btn_mispedidos" class="icono-compra">
            <div class="icon-19"></div>
          </div>
        </div>
        <div id="vista-platillos"></div>
      </div>
    </div>
  </div>

  <th:div th:replace="components/carrito.html :: div"></th:div>
  <th:div th:replace="components/metodos-pago.html :: div"></th:div>
  <th:div th:replace="components/comprobantes.html :: div"></th:div>
  <th:div th:replace="components/misPedidos.html :: div"></th:div>
  <th:div th:replace="components/seguimiento.html :: div"></th:div>
  <th:div th:replace="components/detallePedido.html :: div"></th:div>
  <th:div th:replace="fragments/perfilUsuario.html :: div"></th:div>
  <th:div th:replace="fragments/editarPerfil.html :: div"></th:div>
  <th:div th:replace="fragments/cambiarcontraseña.html :: div"></th:div>

  <script th:inline="javascript">
    var email = /*[[${email}]]*/ '';
  </script>
  <script src="js/cliente.js"></script>

</body>

</html>