<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grill House</title>
    <link rel="stylesheet" th:href="|/css/cocina.css|">
</head>
<body>
    
  <div class="main-container">
    <div class="flex-row-fd">
      <div class="usuario"></div>
      <div class="vector"></div>
      <span class="mario-ruiz">Mario Ruiz</span>
    </div>
    <span class="ordenes">Ordenes</span>
    <div class="flex-row-c">
      <button class="botones-mobile">
        <span class="boton">Pendiente</span></button
      ><button class="botones-mobile-1">
        <span class="boton-2">En proceso</span></button
      ><button class="botones-mobile-3">
        <span class="button">Terminado</span>
      </button>
    </div>
    <div class="card">
      <div class="fernando-andrade-unsplash"></div>
      <div class="flex-column-dfe">
        <div class="mario-ruiz-4">
          <span class="cupcake-de">Cupcake de </span
          ><span class="fresa">Fresa</span>
        </div>
        <span class="chef">Hace 1 Mins</span
        ><button class="botones-mobile-5">
          <span class="en-proceso">En proceso</span>
        </button>
      </div>
    </div>
    <div class="card-6">
      <div class="fernando-andrade-ptrhtwde-unsplash"></div>
      <div class="flex-column-ba">
        <div class="mario-ruiz-7">
          <span class="cupcake-de-8">Cupcake de </span
          ><span class="fresa-9">Fresa</span>
        </div>
        <span class="chef-a">Hace 5 Mins</span
        ><button class="botones-mobile-b">
          <span class="boton-en-proceso">En proceso</span>
        </button>
      </div>
    </div>
    <button class="button-barra-navegacion">
      <div class="icono-inicio"><div class="icon"></div></div>
      <div class="icono-usuario"><div class="icon-c"></div></div>
    </button>
  </div>
</body>
</html>