<header>
    <div class="logo-img">
        <img src="images/logo/Logo.png" alt="">
    </div>
    <div class="perfil-link">
        <a id="perfil_btn" href="#perfil_usuario">Nombre usuario  <img src="images/userdefult/perfiluser.png" alt="imagen_default_usuario"></a>
        <script >
            const abrirPerfil = document.querySelector('#perfil_btn');
            abrirPerfil.addEventListener('click', function(){
                const verPerfil = document.querySelector('#perfil_usuario');
                verPerfil.style.display = 'block';
                const ocultarVista = document.querySelector('.vista');
                ocultarVista.style.display = 'none';
            });
        </script>
    </div>
</header>
    